body {
  font-family: "Tahoma", 'Comic Sans', sans-serif;
}

.section {
  padding: 30px 0;
}

.header {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 70px;
  margin-bottom: 60px;
}

.header span {
  display: block;
}

.video {
  margin-bottom: 50px;
}

.form {
  border: 5px solid #2727d9;
  padding: 35px 20px;
}

.form input {
  margin-top: 15px;
}

.form-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: -5px;
}

.d-grid button {
  margin-top: 15px;
}

.submit-btn {
  background-color: #2727d9; 
}

.secondary-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 140px;
}

.features {
  margin-top: 100px;
}

.feature-box p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  height: 160px;
}

.get-instruction {
  margin-top: -60px;
}

.clients-box {
  margin-top: 40px;
}