h1 {
  text-align: center;
  font-size:50px;
  margin: 40px auto 150px auto;
  font-weight: bold;
  font-family: 'Calibri', 'Arial', sans-serif;
}
.container {
  text-align: center;
}
.modal-dialog {
  margin-top: 170px;
}
.modal-button {
  height: 50px;
  border-radius: 12px;
}
.modal-header {
  padding-left: 20px;
}
.modal-body {
  padding: 70px 16px;
}
.delete {
  color: red;
  font-style: italic;
  text-decoration: underline;
}
.modal-footer {
  justify-content: center;
}
.modal-footer-yesbtn {
  margin-left: 20%;
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 10px;
  width: 80px;
}
.modal-footer-nobtn {
  margin-right: 20%;
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 10px;
  width: 80px;
}
.my-modal-text {
  font-size: 18px;
}
.modal-title {
  margin-left: 10px;
}
.modal-content {
  border: 10px solid #eb4632;
  border-top: 40px solid #eb4632;
  border-radius: 5px;
  outline: 2px solid rgba(66, 66, 66, 0.264);
}