* {
  margin: 0;
  padding: 0;
}
body {
  font-family: monospace, Courier, sans-serif;
}
.w1 {
  padding: 1px;
  text-align: center;
}
.w1 p {
  color: rgba(0, 0, 0, 0.482);
}
h1 {
  margin-bottom: 500px;
  margin-top: 40px;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  color: rgb(97, 59, 26);
}
.white {
  position: relative;
  background: radial-gradient(1000px circle, #fff, rgba(255, 216, 175, 0.151));
  outline: 5px solid #c7cecf0b;
  height: auto;
  padding: 20px 15%;
}
.white p {
  padding: 50px;
  line-height: 1.5;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  border: 4px solid transparent;
  border-radius: 30px;
  color: rgb(97, 59, 26);
  box-shadow: 10px 10px 400000px rgba(0, 0, 0, 0.473);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.parallax-window {
  height: 90vh;
  box-shadow: inset 0px 10px 80px rgba(0, 0, 0, 0.529);
}

.icons
{
  position: absolute;
  width: 100px;
  height: 100px;
}

.meditate {
  left: 7%;
  transform: translateX(-50%);
  top: 40px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.leaf {
  left: 4%;
  transform: translateX(-50%);
  top: 330px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.furnace {
  right: 8%;
  transform: translateX(50%);
  top: 60px;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.sit {
  right: 2%;
  transform: translateX(50%);
  top: 310px;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.bamboo {
  left: 1%;
  transform: translateX(-50%);
  top: 600px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.fish {
  right: 2%;
  transform: translateX(50%);
  top: 610px;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.tea {
  left: 7%;
  transform: translateX(-50%);
  top: 840px;
  opacity: 80%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.survey {
  right: 6%;
  transform: translateX(50%);
  top: 830px;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}