body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', 'Comic Sans', 'Arial', sans-serif;
}
.slider {
  margin: 0 35% 100px 35%;
}
h1 {
  margin: 50px auto 120px auto;
  font-size: 40px;
}
