/* Все элементы кода */

* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333;
}

/* Контейнеры Первой секции */

.main {
	margin-top: 80px;
	text-align: center;
}

.video{
	height: 315px;
}

.form {
	padding: 30px 24px;
	margin-left: 30px;
	border: 5px solid #2727d9;
}

.video, .form {
	display: inline-block;
	vertical-align: top;
}

/* Контейнеры Второй секции */

.feature {
	margin-top: 80px;
	text-align: center;
}

.column {
	display: inline-block;
	margin: 0 50px;
	text-align: center;
}

/* Контейнеры Третьей секции */

.images {
	height: 213px;
	text-align: center;
}

#images-top {
	margin-top: 60px;
}

#images-bottom {
	margin-top: 32px;
}

.s3-column {
	display: inline-block;
	margin-right: 26px;
	height: 213px;
	width: 213px;
}

/* Другие Контейнеры */

.section {
	padding: 30px 11.25%;
}

.empty {
	height: 70px;
}

/* Текст */

.s1-header {
	margin-top: 120px;
	text-align: center;
	font-size: 24px;
}

.s1-header span {
	display: block;
}

.s1-header strong {
	font-weight: bold;
	text-transform: uppercase;
}

.main-header {
	margin-top: 120px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

#s3-header {
	margin: 0;
}

.email {
	margin-bottom: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.column-text {
	font-size: 16px;
	font-weight: bold;
}

/* Интерактив */

.form input {
	width: 295px;
	height: 50px;
	margin-bottom: 10px;
	padding: 15px;
	font-size: 18px;
	border: 1px solid #333;
}

.submit {
	display: block;
	width: 295px;
	height: 64px;
	font-size: 18px;
	background-color: #3c3cdd;
	color: #fff;
	border: none;
}

#submit-feature {
	margin: 100px auto 40px auto;
}

#name {
	display: block;
}


/* Медиа */

#img4, #img8 {
	margin-right: 0;
}