body {
	font-family: Arial;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
}

.main-header {
	margin-top: 140px;
	margin-bottom: 10px;
}

.features {
	font-size: 18px;
}

.bee {
	padding-bottom: 15px;
}

img {
	margin-bottom: 40px;
}

.pic-blocks {
	margin-top: 120px;
}

.col-lg-2 {
	text-align: center;
}